aiogram==3.21.0
aiohttp==3.12.14
python-dotenv==1.1.1
environs

sqlalchemy==2.0.35
asyncpg==0.29.0
alembic==1.13.2
python-dotenv==1.1.1
psycopg2-binary==2.9.9
uliweb-alembic
asyncpg==0.29.0
mako==1.3.5

fluent.runtime==0.4.0
aiogram-i18n==1.4

async_throttle

uvicorn
fastapi
python-multipart
pypdf
reportlab